<?xml version="1.0"?>
<config>
    <modules>
        <Asiabill_Payment>
            <version>1.0.0</version>
        </Asiabill_Payment>
    </modules>
    <global>
        <models>
            <asiabill_payments>
                <class>Asiabill_Payments_Model</class>
            </asiabill_payments>
        </models>
        <helpers>
            <asiabill_payments>
                <class>Asiabill_payments_Helper</class>
            </asiabill_payments>
        </helpers>
        <blocks>
            <asiabill_payments>
                <class>Asiabill_Payments_Block</class>
            </asiabill_payments>
        </blocks>
    </global>
    <default>
        <payment>
            <asiabill_creditcard>
                <model>asiabill_payments/payment</model>
                <title>Credit Card</title>
                <test_mer_no>12246</test_mer_no>
                <test_gateway_no>12246002</test_gateway_no>
                <test_signkey>12H4567r</test_signkey>
                <success_status>processing</success_status>
                <failure_status>closed</failure_status>
                <pending_status>holded</pending_status>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <payment_action>authorize</payment_action>
            </asiabill_creditcard>
        </payment>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Asiabill_Payments>
                    <files>
                        <default>Asiabill_Payment.csv</default>
                    </files>
                </Asiabill_Payments>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <asiabill_payments>
                    <file>asiabill/payments.xml</file>
                </asiabill_payments>
            </updates>
        </layout>

        <routers>
            <creditcard>
                <use>standard</use>
                <args>
                    <module>Asiabill_Payments</module>
                    <frontName>asiabill</frontName>
                </args>
            </creditcard>
        </routers>

    </frontend>
</config>